<h1>Espresso Drinks</h1>

<ul>
  <li><a href="/americano">Americano</a></li>
  <li><a href="/cappucino">Cappucino</a></li>
  <li><a href="/latte">Latte</a></li>
  <li><a href="/macchiato">Macchiato</a></li>
  <li><a href="/mocha">Mocha</a></li>
</ul>