<form action="/drinks" method="post">
  
<div>
  Name: <input type="text" name="name" placeholder="ex: vanilla latte">
</div>

<div>
  Contents: <input type="text" name="contents" placeholder="ex: espresso, milk, vanilla syrup">
</div>

<div>
  Image: <input type="text" name="image" placeholder="paste image URL link here">
</div>

<input type="submit" value="Add a drink">
</form>