<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="/style.css">
<head>
  <a href="/">Drink Menu</a>

  <h1><%= @drink.name %></h1>
</head>
<body>


  <h4>Contents: <%= @drink.contents %></h4>

  <div>
    <img src="<%= @drink.image %>">
  </div>

  <form action="/drinks/<%= @drink.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Drink">
  </form>

</body>
</html>

<style>

</style>