<a href="/">Menu</a>

<h1><%= @drink.name %></h1>
<h4>Contents: <%= @drink.contents %></h4>

<div>
  <img src="<%= @drink.image %>">
</div>

<form action="/" method="delete">
  <input type="submit" value="Delete Drink">
</form>